{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='.' method='post'>
    {% csrf_token %}
    <label class="label_class" for="username">User name:</label>
    <input type="text" name="username" value="" id="username">

    <label class="label_class" for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="/" />
  <form action='.' method='post'>

{% endblock %}
