{% extends "base.html" %}

{% block title %}Welcome to Guerrilla Grafters{% endblock %}

{% block headtags %}
	<script src="/public/js/jquery.smoothDivScroll-1.1-min.js" type="text/javascript"></script>
	<script src="/public/js/jquery.dropdownPlain.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(window).load(function() {
		$("div#makeMeScrollable").smoothDivScroll({ 
			autoScroll: "onstart" , 
			autoScrollDirection: "backandforth", 
			autoScrollStep: 1, 
			autoScrollInterval: 15,	
			startAtElementId: "startAtMe", 
			visibleHotSpots: "always"
		});
	});	
</script>
{% endblock %}


{% block content %}

<div class="wrap">
<div class="header">
	<div class="upper">
		<ul class="dropdown">
        	<li><a href="#">CARE</a>
        		<ul class="sub_menu">
        			 <li><a href="#">Care for the trees.</a></li>
        			 <li><a href="#">Care for the grafts</a></li>
        			 <li><a href="#">Tips</a></li>
        		</ul>
        	</li>
        	<li><a href="#">SHARE</a>
        		<ul class="sub_menu">
        			<li><a href="#">Gleaning</a></li>
        			<li><a href="#">Add a Tree to The Map</a></li>
        			 <li><a href="#">Workshops</a></li>
        			 <li><a href="#">Neighborhood</a></li>		 
        		</ul>
        	</li>
        	<li><a href="#">DARE</a>
        		<ul class="sub_menu">
        			 <li><a href="#">Add a graft</a></li>
        			 <li><a href="#">Find a grafting team</a></li>

        		</ul>
        	</li>
          </ul>	
          <div class="signup">
            {% if user.is_authenticated %}
              Welcome, {{ user.first_name }}
              <a id="logout_link" href="{% url django.contrib.auth.views.logout %}?next=/">Log out</a>            
            {% else %}
              <a href="#" data-reveal-id="loginAndRegistration" data-animation="fade">log in | register</a>
            {% endif %}
          </div>

	</div>
	<div class="logo_house">
		<div class="logo">
			<div class="tagline">Undoing civilization one branch at a time...</div>
		</div>
	</div>
</div>
	<div class="bottom-half">
		<div class="text-content">
		<h2>About</h2>
		<p>
		The Guerrilla Grafters graft fruit bearing branches onto non-fruit bearing, ornamental fruit trees. Over time, delicious, nutritious fruit is made available to urban residents through these grafts. Our web application helps grafters to find graftable trees, to track how grafts are doing, and helps to facilitate gleaning of fruit. It is built by a laterally organized group using all open source code. We aim to prove that a culture of care can be cultivated from the ground up. We aim to turn city streets into food forests, and unravel civilization one branch at a time. 
		</p>
		</div>
		<!-- this slideshow is not working, and i don't know why -->
		<div class="slideshow">
				<div id="makeMeScrollable">
				<div class="scrollingHotSpotLeft"></div>
				<div class="scrollingHotSpotRight"></div>
				<div class="scrollWrapper">
					<div class="scrollableArea">
						<img src="{{ STATIC_URL }}img/1sm.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/2sm.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/3sm.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/4sm.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/5sm.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/6sm.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/9.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/10.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/13.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/15.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/18.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/27.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/28.jpg" alt="grafting image" />
						<img src="{{ STATIC_URL }}img/29.jpg" alt="grafting image" />
						
					</div>
				</div>
				</div>
		</div>
		<!-- end bad slideshow -->
	</div>
</div>

{% include 'registration/login_and_registration_modal.html' %}

{% endblock %}
