/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; font-size:21px; height:18px; width:260px;borderx:1px solid red;float:left; margin: 24px 0px; z-index:400;}
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #fff; }
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #000; }
ul.dropdown li a                    { display: block; padding: 0 8px; border-right: 1px solid #333;
	 								  color: #222; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #fff; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 160px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #fff; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

.sub_menu							{font-size:14px;}

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }